@set('classes', '')
@set('oldvalue', flashMessages.get($context.name) || '')
@set('error', flashMessages.get(`errors.${$context.name}`) || '')

<input 
    {{
        $props.serialize({
            class: classes,
            value: oldvalue,
            id: $context.name,
            name: $context.name,
        }, false)
    }}
>

@if(error)
<span>{{ error }}</span>
@end