<!DOCTYPE html>
<html lang="fr" data-theme=''>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BAP | File transfer web app</title>
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />

  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body page-body class="min-h-screen">

  <div class="drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      @include('partials/header')
      <!-- Page content here -->
      <main main-layout class="min-h-screen">
        @!section('content')
      </main>
    </div> 
    <div class="drawer-side">
      <label for="my-drawer-3" class="drawer-overlay"></label> 
      <ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
      <div class="flex justify-end">
      </div>
        <!-- Sidebar content here -->
        <img src="assets/img/drawer.svg" alt="" class="my-4">
        @include('partials/sidebar')
      </ul>
    </div>
  </div>
  <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</body>
</html>
