@layout('layouts/app')

@section('content')
  <div class="flex flex-center justify-center">
    <h1 class="title text-red-600"> It Works! </h1>
    <p class="subtitle">
      Congratulations, you have just created your first AdonisJS app.
    </p>
  </div>
@end